---
---

$heading_color: #e8e8e8;
$heading_shadow_color : #f0f0f0;
$heading_shadow_blur_radius : 0.5px;

a:link {
    color: #E0E0E0;
    font-family: Tahoma, sans-serif;
}

a:visited {
    color: #A0A0A0;
    font-family: Tahoma, sans-serif;
}

body {
    background-image: url('/assets/images/blog_background.png');
    background-size: 18px;
    background-color : #232323;
}

div.main_div {
    background-color : #303030;

    width: 725px;
    min-width: 35%;
    max-width: 85%;

    line-height: 1.45;
    text-align: center;
    text-align: left;

    justify-content: center;
    
    margin-left: auto;
    margin-right: auto;

    padding-top: 1px;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 12px;
    
    border-radius: 6px;

    border: solid #333333 1px;

    //white-space: nowrap;
}



h1 {
    text-align: left;
    text-indent: 0.5em;
    
    color: $heading_color;
    
    font-family: Tahoma, sans-serif;
    font-weight: normal;
    font-size: 1.9em;

    margin-top: 0.25em;
    margin-bottom: 0.25em;

    //background:#3d3d3d;
    border-radius: 6px;

    padding-top: 0.25em;
    padding-bottom: 0.25em;
}

h2 {
    text-align: left;
    text-indent: 0px;

    color: $heading_color;
    text-shadow: 0px 0px $heading_shadow_blur_radius $heading_shadow_color;

    font-family: Tahoma, sans-serif;
    font-weight: normal;
    font-size: 1.5em;

    margin-top: 1.0em;
    margin-bottom: 0.5em;

    //background:#3d3d3d;
    border-radius: 6px;

    padding-top: 0.25em;
    padding-bottom: 0.25em;
    padding-left: 0.5em;
    padding-right: 0.25em;
}

h3 {
    text-align: left;
    text-indent: 0em;

    color: $heading_color;
    text-shadow: 0px 0px $heading_shadow_blur_radius $heading_shadow_color;

    font-family: Tahoma, sans-serif;
    font-size: 1em;
    font-weight: bold;
}

h4 {
    text-align: left;
    text-indent: 0em;

    color: $heading_color;
    text-shadow: 0px 0px $heading_shadow_blur_radius $heading_shadow_color;

    font-family: Tahoma, sans-serif;
    font-size: 0.9em;
    font-weight: bold;
}


p {
    color: #E0E0E0;
    font-family: Tahoma, sans-serif;
    font-size : 1em;

    line-height: 1.7em;

    text-indent: 2em;

    padding-top: 0.25em;
    padding-bottom: 0em;
    padding-left: 0.5em;
    padding-right: 0.5em;

    margin-top: 0.25em;
    margin-bottom: 0.25em;
}

p.super_title {
    display: flex;
    justify-content: space-between;

    color: #E0E0E0;
    font-family: Tahoma, sans-serif;
    font-size : 0.85em;

    line-height: 1.7em;

    text-indent: 0em;
    text-align: right;

    padding: auto;
    padding-right: 1em;

    margin-top: 0.5em;
    margin-bottom: auto;
}

table {
    color: #E0E0E0;
    font-family: 'Courier New', monospace;

    width: 75%;
    border: 1px solid;
    border-left: none;
    border-right: none;
    border-bottom: none;
    border-top: none;

    margin-left: auto; 
    margin-right: auto;

    text-align: center;
}

table.wide {
    width: 100%;
}

table.narrow {
    width: 40%;
}


ul {
    color: #E0E0E0;
    font-family: Tahoma, sans-serif;
    padding-left: 2em;
    font-size: 0.9em;
}

.centered_image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

code {
    color: #E0E0E0;
    font-family: 'Courier New', monospace;
    font-weight: normal;
}

.language-plaintext {
    color: #E0E0E0;
    font-family: 'Courier New', monospace;
    font-weight: normal;
}

.language-code_block {
    color: #E0E0E0;
    font-family: 'Courier New', monospace;
    font-weight: normal; 
    display: block;
    overflow: auto;


    width: auto;
}
